{% extends "bbase.html" %}

{% block content %}

    

    <!--=================================
Blog
=================================-->

<section class="blog">
    <div class="container">
        <div class="post detail">
                <div class="col-lg-10 col-md-12 col-sm-12 col-lg-offset-1">
                    <div class="post-visual">
                        <img src="{{ post.image.url }}" alt="">
                        <div class="comment-count">
                            <b class="icon-comment" title=' {{ post.comment_set.count }} comments'></b>
                            <span>{{ post.comment_set.count }}</span>
                        </div>
                        <div class="views-count">
                                   
                                        <b class="icon-eye-open" title='{{ post.views }} views'></b>
                                        <span>{{ post.views }}</span>
                                   
                        </div>
                    </div>
                    
                    
                    <h6>{{ post.created }}</h6>
                    <h2>{{ post.title }}</h2>
                    <div class="post-info">by {{ post.author.username }} in 
                        <ul>
                            {% for etiqueta in post.tag.all %}
                                <li>{{ etiqueta.tag }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p>{{ post.body|safe }}</p>
                    
                    <ul class="share">
                        <li>
                            <h5>share this post:</h5>
                            <ul class="social-fonts">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li >
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="radicalgraph1cs" data-size="large">Tweet</a>
                                </li>
                            </ul>
                        </li>
                        <li><h5>Tags:</h5>
                            <ul>
                                {% for etiqueta in post.tag.all %}
                                    <li>{{ etiqueta.tag }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        
                    </ul>
                
                </div>
        </div><!--post-->
        <div class="col-lg-10 col-md-12 col-sm-12 col-lg-offset-1">
            <div class="authors">
                <h2>about the author</h2>
                <div class="author">
                    <img src="{{ post.author.author.photo_thumbnail.url }}" alt="">
                    <h2>{{ post.author.username }}</h2>
                    <p>{{ post.author.author.description }}</p>
                </div><!--author-->
            </div><!--authors-->
            

            <!-- Comments  -->
            {% if comments %}
                <p>Comments:</p>
            {% endif %}


            {% if comments %}

                <div class="comments">
                    <h2>12 comments</h2>
                    <div class="comment">
                        <img src="assets/img/blog/coment.jpg" alt="">
                        <h2>John Smith</h2>
                        <div class="date-stamp">Sept 22, 2013 at 2:15 pm</div>
                        <p>Aenean dignissim vestibulum nibh, in mattis purus vehicula sed. Nam bibendum justo odio, id posuere enim malesuada sit amet. Sed eget porttitor lacus, ut aliquet orci. Pellentesque auctor libero magna, id malesuada diam mattis vitae. </p>
                        <a class="reply add-reply" href="#comment-form">Reply<i class="icon-share-alt"></i></a>
                    </div><!--comment-->
                    
                    <div class="comment reply">
                        <img src="assets/img/blog/coment.jpg" alt="">
                        <h2>John Smith</h2>
                        <div class="date-stamp">Sept 22, 2013 at 2:15 pm</div>
                        <p>Aenean dignissim vestibulum nibh, in mattis purus vehicula sed. Nam bibendum justo odio, id posuere enim malesuada sit amet. Sed eget porttitor lacus, ut aliquet orci. Pellentesque auctor libero magna, id malesuada diam mattis vitae. </p>
                        <a class="reply add-reply" href="#comment-form">Reply<i class="icon-share-alt"></i></a>
                    </div><!--comment-->
                    
                    <div class="comment">
                        <img src="assets/img/blog/coment.jpg" alt="">
                        <h2>John Smith</h2>
                        <div class="date-stamp">Sept 22, 2013 at 2:15 pm</div>
                        <p>Aenean dignissim vestibulum nibh, in mattis purus vehicula sed. Nam bibendum justo odio, id posuere enim malesuada sit amet. Sed eget porttitor lacus, ut aliquet orci. Pellentesque auctor libero magna, id malesuada diam mattis vitae. </p>
                        <a class="reply add-reply" href="#comment-form">Reply<i class="icon-share-alt"></i></a>
                    </div><!--comment-->
                    
                </div><!--comments-->
            {% else %}
                <div class="comments">
                    <h2>No comments...yet</h2><br>
                </div>
            {% endif %}


            <!-- <div class="comment-form">
                <h2>leave a reply</h2>
                <form action="{% url 'radicalwebapp.views.add_comment' post.id %}" method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            Name: {{ form.author }}
                        </div> -->
                        <!-- <div class="col-lg-3 col-md-3 col-sm-3">
                            <input type="text" id="email1" placeholder="Email:">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <input type="text" id="website" placeholder="Website:">
                        </div> -->
                    <!-- </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p>{{ form.body }}</p>
                        </div>
                    </div>
                    <input class="btn" id="submit" type="submit" value="Submit reply">
                </form> -->
            <!-- </div> --><!--reply-->
            
        </div>
    </div>
</section>

    

{% endblock %}
