<!-- /*!
 * Radical Graphics Studios site by @bochelord and @leunamsan
 * Copyright 2014 Radical Graphics Studios
 * 
 *
 * Designed and built with all the love in Amsterdam.
 */ -->
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->

{% load dajaxice_templatetags %}

<html class="no-js">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<title>Radical Graphics Studios</title>

<!--=================================
Meta tags
=================================-->

<meta name="description" content="">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />

<!--=================================
Style Sheets
=================================-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Maven+Pro:500,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/flexslider.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/animate.css">
<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/prettyPhoto.css"> -->
<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/main.css">
<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/jquery.fancybox.css">
<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/jquery.fancybox-buttons.css">
<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/jquery.fancybox-thumbs.css">

<link rel="shortcut icon" href="{{ STATIC_URL }}assets/favicon.ico">

{% dajaxice_js_import %}

</head>
<body data-spy="scroll" data-target="#sticktop" data-offset="70">
<!--=================================
header
=================================-->

<header>
  <nav id="sticktop" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#"><img src='{{ STATIC_URL }}assets/img/radswoosh.png'>Radical Graphics</a> </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown active"><a href="#home">Home</a></li>
          <li><a href="#about">what we do</a></li>
          <li><a href="#services">skills</a></li>
          <li><a href="#portfolio">portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="/blog">Blog</a></li>
          <li>
            <a href="#contact">contact us</a>
          </li>


        </ul>
      </div>
      <!--/.nav-collapse -->

    </div>

  </nav>
  <div class='top-shadow'></div>
</header>

<!--=================================
home
=================================-->


<section id="home">
  
  <h1>welcome to radical graphics studios</h1>
  <h2>We are an indie development studio</h2>
  <div class="slider-wrapper">
    <div id="home-slider" class="flexslider">
      <ul class="slides">
        <li> <img class="device-img" src="{{ STATIC_URL }}assets/img/slider/4.png" alt=""/> </li>
        <li> <img class="device-img" src="{{ STATIC_URL }}assets/img/slider/5.png" alt=""/> </li>
        <li> <img class="device-img" src="{{ STATIC_URL }}assets/img/slider/6.png" alt=""/> </li>
        <li> <img class="device-img" src="{{ STATIC_URL }}assets/img/slider/7.png" alt=""/> </li>
      </ul>
    </div>
  </div>
</section>





<!--=================================
About-us
=================================-->

<section id="about">
  <div class="container">
    <div class="section-head">
      <h1>What we do</h1>
      <p>We imagine, design, develop, test and create <strong>entertainment software</strong> in several ways: Web Apps, Games and Gamification solutions. </p>
    </div>
    <div class="carousel-nav"> <a id="phase-prev" href="#" class="prev"><span class=" icon-angle-left"></span></a> <a id="phase-next" href="#" class="next"><span class=" icon-angle-right"></span></a> </div>
    <div class="about-wrapper">
      <div class="work-phase"> <span class="mapIcon"></span>
        <h2>We build worlds</h2>
        <p>More than a <strong>decade</strong> on the <strong>game industry</strong> gives to our crew an invaluable experience on <strong>game design.</strong></p>
        <div class="hover">
          <h2>for you to explore</h2>
          <span class="paperplaneIcon"></span> <a href='/blog' class="btn">learn more</a> </div>
        <!--hover--> 
      </div>
      <!--phase1-->
      
      <div class="work-phase"> <span class="waterIcon"></span>
        <h2>We create experiences</h2>
        <p>We shape your system and the <strong>way the user interacts</strong> with it. We believe on delivering <strong>exciting</strong> and <strong>engaging</strong> experiences</p>
        <div class="hover">
          <h2>that you will remember</h2>
          <span class="fireIcon"></span> <a href="/blog" class="btn" >learn more</a> </div>
        <!--hover--> 
      </div>
      <!--phase1-->
      
      <div class="work-phase"> <span class="desktopIcon"></span>
        <h2>We design interactions</h2>
        <p>The machine should surrender to the human and create an <strong>easy to learn, optimized, smart and exciting way</strong> of interact with it</p>
        <div class="hover">
          <h2>for optimal experiences</h2>
          <span class="mobileIcon"></span> <a class="btn" href="/blog">learn more</a> </div>
        <!--hover--> 
      </div>
      <!--phase1-->
      
      <div class="work-phase"> <span class="heartIcon"></span>
        <h2>We love
          what we do</h2>
        <p>Of course! Our team has been here since the beginning of The Internet and even before. We still love what we do, <strong>our passion is our strength.</strong></p>
        <div class="hover">
          <h2>And love is always good</h2>
          <span class="heartIcon"></span> <a class="btn" href="/blog">learn more</a> </div>
        <!--hover--> 
      </div>
      <!--phase1--> 
      
    </div>
    <div class="clearfix"></div>
    <!--about-us-wrapper--> 
  </div>
</section>

<!--=================================
  Records
=================================-->
<section id="records">
  <div class="container">
    <div class="row">
      <div class="section-head">
        <h1>how we work</h1>
      </div>
      <div class="records-wrapper">
        <div class="record animate1"> <span class="coffeecupIcon"></span>
          <h5><span data-total="{{ how_we_work.coffees }}" class="stat"></span>Cups of coffee <br>
            consumed</h5>
          <div class="clearfix"></div>
        </div>
        <!--\\record-->
        
        <div class="record animate2"> <span class="cogIcon"></span>
          <h5><span data-total="{{ how_we_work.technologies }}" class="stat"></span>Applied <br>
            Technologies</h5>
          <div class="clearfix"></div>
        </div>
        <!--\\record-->
        
        <div class="record animate3"> <span class="rocketIcon"></span>
          <h5><span data-total='{{ how_we_work.projects }}' class="stat"></span>Projects <br>
            Launched</h5>
          <div class="clearfix"></div>
        </div>
        <!--\\record-->
        
        <div class="record animate4"> <span id="rocking_icon" class="not_rockingIcon"></span>
          <h5><span id="increase_rock_value" data-total="{{ how_we_work.we_rock }}" class="stat"></span>Say that we rock!<br>Will you?</h5>
          <a id="yeah_button" class='btn yeah-button' onclick="increase_rocks();">yeah!</a>
          <div class="clearfix"></div>
        </div>
        <!--\\record--> 
      </div>
    </div>
  </div>
</section>

<!--=================================
Services
=================================-->

<section id="services">
  <div class="container">
    <div class="section-head">
      <h1>Our skills</h1>
      <p>We are proud of having developed some key skills for our adventures</p>
    </div>
    <div class="service-wrapper">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="service"> <span class="mobileIcon"></span>
            <h2>Targeting the people not only the device</h2>
            <p>We crave for <strong>memorable experiences</strong> and we want to make it so for everything that we do. We have a high quality standards on the experience we create. We grew up with <strong>8-bit systems</strong>, we know what a great experience is like ;-) </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="service"> <span class="screwIcon"></span>
            <h2>Hands on crafting</h2>
            <p>Condisering ourselves as <strong>code agnostics</strong>, we always try to build a prototype as soon as possible. Following the latests technologies available, we have no fear on getting our hands dirty with new projects.
            We currently work with <strong>Python, Javascript or C#</strong>, on frameworks like <strong>Django</strong> or <strong>Unity</strong></p>
          </div>
        </div>
      </div>
      <!--//row-->
      
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="service"> <span class="beakerIcon"></span>
            <h2>Gamification labs</h2>

            <p>Through this new technique, called gamification, we apply <strong>game mechanics</strong> to other environments aiming to <strong>solve problems</strong>, achieve <strong>better levels of engagement</strong> and promote <strong>desirable behaviours through fun</strong>. Improving the user experience through fun can succesfully motivate users <strong>improving the overall experience of the product</strong> </p>

            

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="service"> <span class="layersIcon"></span>
            <h2>Experience on the full software cycle</h2>
            <p>Several years of experience on a wide array of projects gives us an advantage when putting ourselves on somebody's shoes: Pitching, Designing, Prototyping, Developing, Quality Assuring, Deployment, Maintenance... We have been working on every phase of the software cycle. Tell us your story, we will understand you.</p>
          </div>
        </div>
      </div>
      <!--//row--> 
    </div>
    <!--service-wrapper--> 
  </div>
</section>
<div class="clearfix"></div>




<!--=================================
	Our Work
=================================-->
<section id="portfolio">

  <div class="section-head">
    <h1>portfolio</h1>
    <p>Even though we are a start-up effort, our team has a valuable experience on working on top titles.</p>
    <p>Projects where our experience, hard work and heart went</p>
  </div>
  <ul class="project-filter">
    <li id="filter1" data-filter="all">Everything</li>
    <li id="filter2" data-filter="web applications">Apps</li>
    <li id="filter3" data-filter="games">Games</li>
    <li id="filter4" data-filter="gamification">Gamification</li>
    <li id="filter5" data-filter="user experience">User Experience</li>
  </ul>
  <div id="Grid" class="project-wrapper">
    
    <div id='portfolio_pics'></div>

  </div>
  <div class="clearfix"></div>
  <div class="load-more" id="load_more_button"> <a href="#portfolio" onclick="increase_page();">load more</a> </div>

</section>
<!--=================================
	Team
=================================-->

<section id="team">
  <div class="container">
    <div class="section-head">
      <h1>meet the team</h1>
    </div>
    <div class="carousel-nav"> <a id="member-prev" href="#" class="prev"><span class=" icon-angle-left"></span></a> <a id="member-next" href="#" class="next"><span class=" icon-angle-right"></span></a> </div>
    <div class="team-wrapper">
      <div class="member"> <img src="{{ STATIC_URL }}assets/img/team/suitup3_b.jpg" alt="">
        <div class="hover">
          <h2>José Gómez de Lara</h2>
          <h5>Cofounder - CTO</h5>
          <p>Game Industry senior: Engineer, UX and Gamification specialist.</p>
          <ul class="social-fonts">
            <!-- <li><a href="#"><span class="icon-facebook"></span></a></li> -->
            <li ><a href="http://www.twitter.com/bochelord" target='_blank'><span class="icon-twitter"></span></a></li>
           <!--  <li ><a href="#"><span class="icon-pinterest"></span></a></li> -->
            <li ><a href="http://nl.linkedin.com/in/josegomezdelara/" target='_blank'><span class="icon-linkedin"></span></a></li>
            <!-- <li ><a href="#"><span class=" icon-google-plus"></span></a></li> -->
          </ul>
        </div>
      </div>
      <!--member-->
      
      <div class="member"> <img src="{{ STATIC_URL }}assets/img/team/leunam.jpg" alt="">
        <div class="hover">
          <h2>Manuel González</h2>
          <h5>Cofounder - Creative Director</h5>
          <p>QA Specialist, Web Designer and Developer.</p>
          <ul class="social-fonts">
            <!-- <li><a href="#"><span class="icon-facebook"></span></a></li> -->
            <li ><a href="https://twitter.com/Leunamsan" target='_blank'><span class="icon-twitter"></span></a></li>
            <!-- <li ><a href="#"><span class="icon-pinterest"></span></a></li> -->
            <li ><a href="http://www.linkedin.com/in/manuelgonzalezgarcia" target='_blank'><span class="icon-linkedin"></span></a></li>
            <!-- <li ><a href="#"><span class=" icon-google-plus"></span></a></li> -->
          </ul>
        </div>
      </div>
      <!--member-->
      
      
      
    </div>
  </div>
</section>


<!--=================================
 promo-box
 =================================-->
<div class="promo-box container">
  <h2>loving the <span>looklala?</span> haven’t purchased yet?</h2>
  <h3>what are you waiting for?</h3>
  <a class="btn" href="http://www.looklala.com">Buy indie now!</a>
</div>

<!--=================================
 contact
 =================================-->

<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <h2>About Us</h2>
        <p>Indie Development Studio based in Amsterdam, Europe.<br> Games Industry veterans (AAA console & MMO) going indie to the exciting future: Unity, Ouya, Mobile, Web Apps, Gamification & Oculus Rift. </p>
        <h2>socialize with us</h2>
        <ul class="social-fonts">
          <li ><a href="http://www.twitter.com/radicalgraph1cs"><span class="icon-twitter"></span></a></li>
          <li><a href="https://www.facebook.com/radicalgraphics" target='_blank'><span class="icon-facebook"></span></a></li>
          <li ><a href="http://www.linkedin.com/company/radical-graphics-studios"><span class="icon-linkedin"></span></a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-5">
        <h2>radical hq</h2>
        <div id="contact-map" data-address="overhoeksplein, Amsterdam, The Netherlands" data-zoomlvl="12" data-maptype="HYBRID" data-mappin='{{ STATIC_URL }}assets/img/icons/map-pin.png'></div>
      </div>
      <div class="col-lg-5 col-md-4 col-sm-4">
        <h2>say hello!</h2>
        <a href="mailto:info@radicalgraphics.com">info@radicalgraphics.com</a>
        <div class="contactus">
            <form id="contactform" action="" method="post">{% csrf_token %}
              <input type="text" name="name" id="name" placeholder="Your Name:">
              <input type="text" name="email" id="email" placeholder="Your Email:">
              <input type="text" name="subject" id="subject" placeholder="Subject:">
              <textarea name="message" id="message" placeholder="Your Message:"></textarea>
              <input class="btn" id="submit" type="submit" value="¡Hola!">
            </form>
            <div id="valid-issue" style="display:none;"></div>
        </div>
      </div>
    </div>
  </div>
  <!--container--> 
</div>
<!--contact-->

<!--=================================
 Footer
 =================================-->
<footer> 
  <p><img src='{{ STATIC_URL }}assets/img/rad14_logo_1.png'></p>
  <p>©MMXIV Radical Graphics Studios . All rights reserved. </p><br>
  <p class='legal'>
    Radical Graphics V.O.F.</p><p class='legal'>Overhoeksplein 2, Amsterdam, The Netherlands
  </p>
  <p class='legal'>Registered in Amsterdam Chamber of Commerce: #58889116</p>
  <p class='legal'>VAT no: NL853224936B01</p>
  <p>made with ♡ in Amsterdam</p>
</footer>

<!--=================================
Script Source
=================================--> 

<script src="{{ STATIC_URL }}assets/js/jquery-1.9.js"></script> 
<script src="{{ STATIC_URL }}assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src='{{ STATIC_URL }}dajax/jquery.dajax.core.js'></script>
<script src="{{ STATIC_URL }}assets/js/jquery.mixitup.min.js"></script> 
<script src="{{ STATIC_URL }}assets/js/bootstrap.min.js"></script> 
<script src="{{ STATIC_URL }}assets/js/jquery.easing-1.3.pack.js"></script> 
<script src="{{ STATIC_URL }}assets/js/jquery.sticky.js"></script> 
<script src="{{ STATIC_URL }}assets/js/jquery.inview.js"></script> 
<script src="{{ STATIC_URL }}assets/js/jquery.flexslider-min.js"></script> 
<script src="{{ STATIC_URL }}assets/js/masonry.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}assets/js/jquery.carouFredSel-6.2.1-packed.js"></script> 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script> 
<script src="{{ STATIC_URL }}assets/js/main.js"></script>
<!-- <script src="{{ STATIC_URL }}assets/js/jquery.fancybox.js"></script> -->
<script src="{{ STATIC_URL }}assets/js/jquery.fancybox.pack.js"></script>
<script src="{{ STATIC_URL }}assets/js/jquery.fancybox-buttons.js"></script>
<script src="{{ STATIC_URL }}assets/js/jquery.fancybox-thumbs.js"></script>


<!-- <script src="{{ STATIC_URL }}assets/js/jquery.prettyPhoto.js"></script> -->


<script>
  
  $("#filter1").addClass('hover-color');

  var tag = "all";
  $("#portfolio_pics").load(Dajaxice.radicalwebapp.get_portfolio(Dajax.process,{'page': {{ page }}, 'tag': tag }));
  
  //jQuery('a.clrbox').colorbox();
 
  $("#filter1").click(function (event){
    event.stopPropagation();
    var tag = $(this).attr('data-filter');
    console.log (tag, "Tag");
    var page = 1;
    $("#filter2").removeClass('hover-color');
    $("#filter3").removeClass('hover-color');
    $("#filter4").removeClass('hover-color');
    $("#filter5").removeClass('hover-color');
    $(this).addClass('hover-color');
    get_portfolio(page, tag);
  });

  $("#filter2").click(function (event){
    event.stopPropagation();
    var tag = $(this).attr('data-filter');
    console.log (tag, "Tag");
    var page = 1;
    $("#filter1").removeClass('hover-color');
    $("#filter3").removeClass('hover-color');
    $("#filter4").removeClass('hover-color');
    $("#filter5").removeClass('hover-color');
    $(this).addClass('hover-color');
    get_portfolio(page, tag);
  });

  $("#filter3").click(function (event){
    event.stopPropagation();
    var tag = $(this).attr('data-filter');
    console.log (tag, "Tag");
    var page = 1;
    $("#filter1").removeClass('hover-color');
    $("#filter2").removeClass('hover-color');
    $("#filter4").removeClass('hover-color');
    $("#filter5").removeClass('hover-color');
    $(this).addClass('hover-color');
    get_portfolio(page, tag);
  });

  $("#filter4").click(function (event){
    event.stopPropagation();
    var tag = $(this).attr('data-filter');
    console.log (tag, "Tag");
    var page = 1;
    $("#filter1").removeClass('hover-color');
    $("#filter2").removeClass('hover-color');
    $("#filter3").removeClass('hover-color');
    $("#filter5").removeClass('hover-color');
    $(this).addClass('hover-color');
    get_portfolio(page, tag);
  });

  $("#filter5").click(function (event){
    event.stopPropagation();
    var tag = $(this).attr('data-filter');
    console.log (tag, "Tag");
    var page = 1;
    $("#filter1").removeClass('hover-color');
    $("#filter2").removeClass('hover-color');
    $("#filter3").removeClass('hover-color');
    $("#filter4").removeClass('hover-color');
    $(this).addClass('hover-color');
    get_portfolio(page, tag);
  });

  function get_portfolio(page, tag){
    
    $("#portfolio_pics").html('<div class="pagination-centered"><img src="{{ STATIC_URL }}assets/img/Our_work/ajax-spinner.GIF"></div>');

    Dajaxice.radicalwebapp.get_portfolio(Dajax.process,{'page':page, 'tag':tag});
    $('#Grid').mixitup('remix','all'); 

    
    // jQuery.ajaxStop(function(){
    //   $("a[rel^='prettyPhoto']").prettyPhoto();
    // });

    // check_load_more_button();

  }
  
  // function check_load_more_button(){

  //   var last = $('#last_id').attr("value");
  //   last = parseInt(last);
  //   console.log(last, "Last");

  //   var portfolio = $('#portfolio_length').attr("value");
  //   portfolio = parseInt(portfolio);
  //   console.log(portfolio, "Portfolio");

  //   if (last<portfolio)
  //   {
  //     document.getElementById("load_more_button").style.visibility="visible";
  //   }
  //   else
  //   {
  //    document.getElementById("load_more_button").style.visibility="hidden"; 
  //   }    
  // }

  function increase_page(){
    var page = $('#next_page').val();
    var new_page = parseInt(page) + 1;
    $('#next_page').val(new_page);
    // $("#filter1").addClass('hover-color');
    // $("#filter2").removeClass('hover-color');
    // $("#filter3").removeClass('hover-color');
    // $("#filter4").removeClass('hover-color');
    // $("#filter5").removeClass('hover-color');
    Dajaxice.radicalwebapp.get_portfolio(Dajax.process,{'page':new_page, 'tag':tag});
    $('#Grid').mixitup('remix','all'); 
    
  }


  /*===================
    Contact jscript
    ===================*/

    function IsEmail(email) {
        var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }


    $("#contactform").submit(function () {
        var name = $("#name").val();
        var email = $("#email").val();
        var subject = $("#subject").val();
        var message = $("#message").val();
        var dataString = 'name=' + name + '&email=' + email + '&subject=' + subject + '&message=' + message;

        if (name === '' || !IsEmail(email) || subject === '' || message === '') {
            $('#valid-issue').html('<div class="label label-info">Please Say Something Proper</div>').show();
        } 

        else {
            $("#contactform").html('<div class="pagination-centered"><img src="{{ STATIC_URL }}assets/img/Our_work/ajax-spinner-white.GIF"></div>');
            Dajaxice.radicalwebapp.send_message(Dajax.process,{'subject': 'de: ' + name + ' sobre: ' + subject, 'mailbody':message, 'from_mail': email });
            
        }
        return false;
    });
  



  function increase_rocks(){
    Dajaxice.radicalwebapp.increase_rocks(Dajax.process);
    document.getElementById("yeah_button").setAttribute("disabled", "disabled");
    document.getElementById("yeah_button").style.backgroundColor = '#b2b8ba';
    document.getElementById("yeah_button").style.borderBottomColor = '#9a958d';
  }  


</script>

</body>

</html>
